/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*font*/
* {
  font-family: sans-serif;
}

.flex {
  display: flex;
}

h2 {
  padding: 1rem;
  font-style: italic;
}

.form {
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
}

.input {
  margin-right: 0.5rem;
  padding: 1rem;
}

.btn {
  align-items: center;
  padding: 0 1rem;
}

.btn {
  border-radius: 0.3rem;
  color: white;
  background-color: black;
  transition: 0.1s ease;
}

.btn:hover {
  color: crimson;
  transform: scale(1.2);
}

.delete {
  padding: 0.5rem 1rem;
}
.delete:active {
  transform: scale(0.9);
}

.save {
  transition: 0.2 ease;
}

.save:hover {
  transform: scale(1.05);
}
.save:active {
  transform: scale(1);
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}

.singlesList {
  border: 5px solid grey;
  border-radius: 0.3rem;
  padding: 1rem;
}

.single {
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid grey;
  padding: 2rem;
}

.icon {
  max-width: 50%;
}
